nav{
  font-size: 1.6rem;
  background-color: rgb(62,63,58);
  width: 100%;
  height: 5.2rem;
  border-radius:3px;
  position: relative;
  padding: 0 2em;
  line-height: 5.2rem;
  white-space: nowrap;
  h3{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    display: inline-block;
    overflow: hidden;
  }
  #navhome{
    display: none;
    height: 4.6rem;
    padding: 1rem 0;

  }
  .dropdown{
    float: right;
    button{display: none;}
  }
  .dropdown-content{
    position: relative;
    float: right;
  }
  .nav-item{display:inline-block;}
  .nav-item a{
    color: rgba(255, 255, 255, .5);
    font-size: 1.6rem;
    padding-left: 1em;
    font-weight: 500;
  }
  .active a, .nav-item a:hover{color: #fff}
}

@import 'media-query';

